* {
  font-family: system-ui;
  color: rgb(19, 18, 18);
}

.poke-card {
  background-color: rgb(255, 25, 25);
  display: flex;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
  margin: 10px;
  width: 300px;
  height: 200px;
  flex-direction: column;
  border-radius: 10px;
}

.poke-conteiner-img {
  background-color: rgb(255, 50, 50);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
}

.poke-img {
  width: 75px;
  height: 75px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poke-name {
  width: 120px;
  margin-left: 25px;
  border-radius: 25px;
}

.poke-name:hover {
    color: rgb(255, 255, 255);
}

.poke-name-id {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poke-name-id h3::first-letter {
  text-transform: uppercase;
}

.poke-id {
  margin-right: 15px;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 50px;
  background-color: rgb(255, 50, 50);
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.poke-id:hover {
  background-color: rgb(255, 134, 134);
}

.poke-types div::first-letter {
  text-transform: uppercase;
}

.types {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-left: 21px;
  font-size: 15px;
}

.poke-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
