* {
    font-family: system-ui;
    color: rgb(19, 18, 18);
  }
  
  .navv {
    background: rgba(255, 100, 0) ;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
  
  .links {
    display: flex;
    margin-right: 35px;
  }
  
  .title {
    font-size: 23px;
    color: rgb(0, 0, 0);
    display: flex;
    width: 150px;
    height: 40px;
    white-space: nowrap;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  
  .crear {
    text-decoration: none;
    color: black;
  }
  
  .aboutme {
    text-decoration: none;
    margin-left: 15px;
    color: black;
  }
  
  .aboutme:hover {
    background-color: #FF1C00;
    border-radius: 3px;
    color:#fff;
  }
  
  .crear:hover {
    background-color: #FF1C00;
    border-radius: 3px;
    color:#fff;
  }
  
  .linksconteiner {
    text-decoration: none;
    display: flex;
    width: 250px;
    justify-content: center;
    color: black;
  }