.barra {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
}

.pagination {
    display: flex;
    width: 75px;
    justify-content: space-around;
    align-items: center;
}