.pagination {
  display: flex;
  justify-content: center;
}

.button-pagination {
  width: 100px;
  margin: 25px;
  background: rgba(255, 100, 0);

  border-radius: 5px;
  border: none;
  cursor: pointer;
}
