* {
  margin: 0px;
  padding: 0px;
}
/* HEADER */
.header {
  background-color: #e6e6e6;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.derecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 25px;
}
.izq {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

/* FONDO */
.contenedor {
  background-image: url("Fondo.jpg");
  background-repeat: no-repeat;
  height: 585px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIO */
.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 585px;
  width: 550px;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(255, 100, 0, 1) 100%
  );
  flex-direction: column;
}
.contenedor-boton {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  border: none;
  text-decoration: none;
  width: 100px;
  height: 25px;
  background-color: #e6e6e6;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.home:hover {
  background-color: #1b0101;
  color: #e6e6e6;
}
