* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mainn {
  background-image: url("pokefoto.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 625px;
}

.contenedor {
  background-color: #fff;
  display: inline-flex;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  margin: 200px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}

.aboutMe {
  border-radius: 10px;
  border: none;
  background-color: #f5583f;
  font-size: 15px;
  width: 100px;
  height: 25px;
  margin-bottom: 15px;
  overflow: auto;
}

.aboutMe:hover {
  background-color: rgb(252, 47, 47);
}

.home {
  border: none;
  height: 65px;
  width: 65px;
  background-color: rgb(189, 189, 189);
}

.home:hover {
  background-color: #c9c9c9;
}
